<div class="container">
  <div class="row">
    <div class="col-3" id="footer-contact">
      <img
        alt="logo"
        class="logofooter"
        src="../../assets/logo.png"
        width="181"
      />
      <ul class="nav justify-content-left">
        <a
          class="nav-link"
          target="_blank"
          href="https://www.facebook.com/tenduy.hophuc.73"
          ><i class="fab fa-facebook"></i
        ></a>
        <a class="nav-link" href="https://www.instagram.com/duydz.il/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          class="nav-link"
          href="https://www.youtube.com/channel/UCV5H-PmOSC73BynqSJQAH_Q"
          ><i class="fab fa-youtube"></i
        ></a>
        <a class="nav-link" href="https://github.com/Heckerrlord"
          ><i class="fab fa-github"></i
        ></a>
      </ul>
    </div>
    <div class="col-3" id="footer-top-widgets-1">
      <h4 class="titlefter">NEWSLETTER</h4>
      <form>
        <label class="forfter">Sign up for newsletter</label>
        <input
          type="email"
          class="emailfter"
          placeholder="Sign up for newsletter"
        />
        <button type="submit" class="emailsubmit">SUBSCRIBE</button>
      </form>
    </div>
    <div class="col-3" id="footer-top-widgets-3">
      <h4 class="titlefter">OPENING TIME</h4>
      <div class="opentime">
        <table class="table-reponsive">
          <tbody>
            <tr>
              <td>Monday-Friday</td>
              <td>08.00 To 18.00</td>
            </tr>
            <tr>
              <td>Monday-Friday</td>
              <td>08.00 To 18.00</td>
            </tr>
            <tr>
              <td>Monday-Friday</td>
              <td>08.00 To 18.00</td>
            </tr>
          </tbody>
        </table>
        <p style="font-weight: 600; font-size: 14px">HOTLINE: 0352255034</p>
      </div>
    </div>
    <div class="col-3" id="footer-top-widgets-2">
      <h4 class="titlefter">INFORMATION</h4>
      <div class="row" style="margin-top: 0px">
        <div class="col-2">
          <a href="https://goo.gl/maps/5sP4vP3Q7aXVNi2LA" class="infor-link"
            ><i class="fa-solid fa-location-dot"></i
          ></a>
        </div>
        <div class="col-10">
          <p class="infortext">2/132/66/2 Cau dien street</p>
        </div>
      </div>
      <div class="row" style="margin-top: 0px">
        <div class="col-2">
          <a class="infor-link"
            ><i class="fa-solid fa-mobile-screen-button"></i
          ></a>
        </div>
        <div class="col-10">
          <p class="infortext">0352255034</p>
        </div>
      </div>
      <div class="row" style="margin-top: 0px">
        <div class="col-2">
          <a class="infor-link"><i class="fa-solid fa-envelope"></i></a>
        </div>
        <div class="col-10">
          <p class="infortext">spduyvn@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
