<!-- THANH TRÊN CÙNG -->
<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <ul class="nav justify-content-left">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#about"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#contact"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="nav justify-content-right">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#account"
              >Account</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#signout"
              >Signout</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#faq">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- MAIN HEADER -->
<div class="main-bar">
  <div class="container">
    <div class="main-bar-content">
      <div class="row">
        <div class="col-3">
          <a href="#home"><img src="../../assets/logo.png" alt="" /></a>
        </div>
        <div class="col-6">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              style="height: 100%"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
        <div class="col-3">
          <div class="nav justify-content-right" style="height: 100%">
            <div class="giohang">
              <a href="#shopcart">
                <i
                  class="fa-solid fa-cart-shopping"
                  style="font-size: 27px; margin: 10px"
                ></i
              ></a>
            </div>
            <span class="item-count">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
